.ContactData {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #ddd;
  margin-bottom: 30px;
}

.ContactData form {
  text-align: center;
  width: 100%;
}
